.cell {
  font-size: 6em;

  display: flex;
  float: left;

  width: 33.33%;
  min-width: 40px;
  height: 33.33%;
  min-height: 40px;

  cursor: pointer;

  border: 1px solid var(--cl-border);

  justify-content: center;
  align-items: center;

  @media (--bp-small) {
    font-size: 4.5em;

    border-width: .5px;
  }
}

.cell:nth-child(-n + 3) {
  border-top: 0;
}

.cell:nth-child(n + 7) {
  border-bottom: 0;
}

.cell:nth-child(3n + 1) {
  border-left: 0;
}

.cell:nth-child(3n) {
  border-right: 0;
}

.cell--x {
  font-size: 4.5em;

  @media (--bp-small) {
    font-size: 3em;
  }
}
