.stat-display {
  position: relative;

  padding-left: 1.5em;
}

.stat-display__player {
  position: absolute;
  left: 0;
}

.stat-display__player--o {
  font-size: 2.25em;
  line-height: .65;
}

.stat-display__player--x {
  font-size: 1.5em;
  line-height: 1;
  left: .1em;

  @media (--bp-medium) {
    left: .1em;
  }

  @media (--bp-small) {
    left: .05em;
  }
}
