.app {
  height: 100%;
}

.app-header {
  background: var(--cl-text);

  display: flex;

  width: 100%;

  color: var(--cl-bg-base);

  justify-content: center;

  @media (--bp-medium) {
  }

  @media (--bp-small) {
    font-size: .75em;
  }
}

.app-header-wrap {
  display: flex;

  width: 600px;
  height: 3em;

  justify-content: space-between;
  align-items: center;

  @media (--bp-medium) {
    width: 92%;
  }

  @media (--bp-small) {
    width: 92%;
  }
}

.app__title {
  font-size: 1em;

  letter-spacing: .175em;
  text-transform: uppercase;
  font-weight: var(--ft-weight-thin);
}

.app-body {
  position: relative;

  display: flex;

  height: calc(100% - 3em);
  margin: 0 auto;
  padding: 1.5em 0;

  justify-content: center;
  align-items: center;

  @media (--bp-medium) {
    width: 92%;
  }

  @media (--bp-small) {
    width: 100%;
    height: calc(100% - 2.25em);
    padding: 0;
  }
}

.vue--green {
  color: var(--cl-vue-green);
}

.nav-btn {
  background: var(--cl-vue-blue);

  padding: .5em .75em;

  transition: color .2s ease-in-out;
  letter-spacing: .15em;
  text-transform: uppercase;

  color: var(--cl-bg-base);
  border: .1em solid var(--cl-vue-blue);
  font-weight: var(--ft-weight-thin);
}

.nav-btn:hover {
  background: var(--cl-bg-base);

  color: var(--cl-vue-blue);

  cursor: pointer;
}

.text-thin {
  font-weight: var(--ft-weight-thin);
  letter-spacing: .1em;
}
