:root {
  --ft-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

  --cl-bg-base: #fff;

  --cl-border: #7f8c8d;

  --cl-shadow: rgba(0, 0, 0, .25);

  --cl-text: #333;

  --cl-vue-green: #42b983;
}

@custom-media --bp-medium screen and (width >= 500px) and (width <= 600px);
@custom-media --bp-small screen and (width <= 499px);
