.board {
  width: 600px;
  height: 600px;

  @media (--bp-medium) {
    width: 100%;
    height: 100%;
  }

  @media (--bp-small) {
    width: 100%;
    height: 100%;
  }
}

.board-overlay {
  background: var(--cl-bg-base-transp);

  position: absolute;
  z-index: 2;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 600px;

  justify-content: center;
  align-items: center;

  @media (--bp-medium) {
    height: 100%;
  }

  @media (--bp-small) {
    height: 100%;
  }
}
