.cell {
  font-size: 6em;

  display: flex;
  float: left;

  width: 33.33%;
  min-width: 40px;
  height: 33.33%;
  min-height: 40px;

  cursor: pointer;

  justify-content: center;
  align-items: center;

  @media (--bp-small) {
    font-size: 4.5em;
  }
}

.cell:nth-child(2) {
  border-left: 1px solid var(--cl-border);
  border-right: 1px solid var(--cl-border);
}

.cell:nth-child(4) {
  border-top: 1px solid var(--cl-border);
  border-bottom: 1px solid var(--cl-border);
}

.cell:nth-child(5) {
  border: 1px solid var(--cl-border);
}

.cell:nth-child(6) {
  border-top: 1px solid var(--cl-border);
  border-bottom: 1px solid var(--cl-border);
}

.cell:nth-child(8) {
  border-left: 1px solid var(--cl-border);
  border-right: 1px solid var(--cl-border);
}

.cell--x {
  font-size: 4.5em;

  @media (--bp-small) {
    font-size: 3em;
  }
}
